body{
    display: flex;
    justify-content: center;
}

.container{
    width: 600px;
    max-width: 600px;
    border: solid;
    border-color: black;
    padding: 10px;
}

.task-box{
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-color: red;
    padding: 10px;
}

.task-list{
    display: flex;
    flex-direction: column; 
    list-style-position: inside;
    margin: 10px;
    border: solid;
    border-radius: 1px;
    border-color: blue;
    padding: 10px;
}

.task-item{
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: solid;
    padding: 5px;
}

.task-text{
    flex: 3;
    word-break: break-word;
}

.delete-button{
    flex: 1;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

#task-form {
    margin: 10px;
}

label {
    display: none;
}

