body{
    display: flex;
    justify-content: center;
}

.container{
    border: solid;
    border-color: black;
    padding: 10px;
}

.task-box{
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-color: red;
    padding: 10px;
}

.task-list{
    list-style-position: inside;
    margin: 10px;
    border: solid;
    border-radius: 1px;
    border-color: blue;
    padding: 10px;
}

.delete-button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

label {
    display: none;
}

